.footer {
    background-color: #f8f8f8;
    margin-top: 50px;

    .footer-container {
        display: flex;
        justify-content: space-between;
        height: 100px;

        .footer-left {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 30%;
            margin-left: 20px;
        }

        .footer-right {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 20%;
            margin-right: 50px;
        }
    }

    p {
        padding-bottom: 80px;
        margin-left: 65px;
    }
}